<div class="container">
    <header class="d-flex justify-content-md-between flex-wrap py-3" >
        
        <img src="/imgs/artVault_Logo_nobg.png" alt="artVault Logo" width="210" height="50" >
            
                <NavLink href="/" class="link-dark nav-link" style="align-content:left">Home</NavLink>
            
            
                <NavLink href="/watchList" class="link-dark nav-link">WatchList</NavLink>
            
        <div class="text-end">
            <NavLink href="/login" class="btn btn-primary">Login</NavLink>
        </div>
    </header>
</div>

@code {

}