@using Business.Utilizadores

<div class="container">
    <header class="d-flex justify-content-md-between flex-wrap py-3">
        <NavLink href="/">
            <img src="/imgs/artVault_Logo_nobg.png" alt="artVault Logo" width="210" height="50">
        </NavLink>
        <NavLink href="/" class="link-dark nav-link" style="align-content:left">Home</NavLink>
        @if(UtilizadorInstance != null){
            <NavLink href="/watchList" class="link-dark nav-link">WatchList</NavLink>

            @if (UtilizadorInstance.UserType() == 2)
            {
                <NavLink href="/criarleilao" class="link-dark nav-link">Criar Leilão</NavLink>
            }else if (UtilizadorInstance.UserType() == 3)
            {
                <NavLink href="/admin" class="link-dark nav-link">Admin Page</NavLink>
            }
            else
            {
                <NavLink> </NavLink>

            }

        }else{
            <NavLink> </NavLink>
            <NavLink ></NavLink>
        }
       

        <div class="text-end">
            <NavLink href="/login" class="btn btn-primary">Login</NavLink>
        </div>
    </header>
</div>

@code {
    [Parameter]
    public Utilizador UtilizadorInstance { get; set; }

   
}
