@page "/admin"
@inject NavigationManager NavManager;
@inject IArtVaultFacade IAVFacade;

<style>
    .vendedores-grid-container {
        width: 1000px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        column-gap: 220px;
        row-gap: 20px;
    }

    .vendedor-container {
        font-size: 10px;
        width: 500px;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .vendedor-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .vendedor-details {
        margin: 0;
    }

        .vendedor-details p {
            margin-bottom: 8px;
        }

    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }



    .login-container button {
        background-color: #305673;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin: 0 auto;
    }

        .login-container button:hover {
            background-color: #25445c;
        }

</style>

<h3>Admin</h3>

@code {
    @using Business
}
