@page "/"
@using ArtVault.Business
@using ArtVault.Components.Layout
@inject NavigationManager NavManager
@inject IArtVaultFacade IAVFacade

<style>
    .leilao-grid-container {
        width: 1000px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px); 
        column-gap: 220px;
        row-gap: 20px;
    }

    
    
    .loading-spinner {
        text-align: center;
    }
    .load-more-button {
        
        transform: translateX(153%);
    }
</style>

<PageTitle>artVault</PageTitle>

@if (IAVFacade.GetUserAtual() != null)
{
    <div class="leilao-grid-container">
        @foreach (Leilao l in IAVFacade.GetXLeiloes(displayedLeiloes))
        {
            <LeilaoComponent LeilaoInstance=l />
        }
        <div class="load-more-button">
                <button class="btn btn-primary" @onclick="LoadMoreLeiloes">Load More</button>
        </div>
    </div>
    
}
else
{

    <div class="loading-spinner">
        <p>Redirecting to login...</p>

        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    
}

@code {
    private int displayedLeiloes = 8;

    private void LoadMoreLeiloes()
    {
        displayedLeiloes += 8; 
        StateHasChanged(); 
    }
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        await Task.Delay(1000);
        if (IAVFacade.GetUserAtual() == null)
            NavManager.NavigateTo("/login");

    }
}