@page "/"
@using ArtVault.Business
@using ArtVault.Components.Layout
@inject NavigationManager NavManager
@inject IArtVaultFacade IAVFacade

<style>
    

    .leilao-grid-container {
        width:1000px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px); /* Adjust column width as needed */
        gap: 220px;
    }

</style>

<PageTitle>artVault</PageTitle>

<div class="leilao-grid-container">
@foreach (Leilao l in IAVFacade.GetXLeiloes(8))
{
    <LeilaoComponent LeilaoInstance=l/>
}
</div>

@code {
    private string UserName;

    protected override void OnInitialized()
    {
        // Call the getUser method from IArtVaultFacade to get the user's name
        if (IAVFacade.GetUserAtual() != null) UserName = IAVFacade.GetUtilizadorAtualName();
        else UserName = "Stranger";
    }
}
