@page "/"
@using ArtVault.Business
@inject NavigationManager NavManager
@inject IArtVaultFacade IAVFacade

<PageTitle>artVault</PageTitle>

<h1>Hello, @UserName!</h1>

<h2>Welcome ArtVault!!</h2>

@code {
    private string UserName;

    protected override void OnInitialized()
    {
        // Call the getUser method from IArtVaultFacade to get the user's name
        if (IAVFacade.GetUserAtual() != null) UserName = IAVFacade.GetUtilizadorAtualName();
        else UserName = "Stranger";
    }
}
